.Rproj.user
.Rhistory
.RData
.DStore
data_cleaning_wrangling/data_cleaning_wrangling.Rproj
shiny_app/shiny_app.Rproj
clean_data/clean_data.Rproj
presentation/d10_dashboard_project_notes.pages
shiny_app/rsconnect/shinyapps.io/jonismyusername/public_health_priorities_scotland.dcf
